{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<section id="header">
<div id="headertop">
<div class="container" id="header_right">
    <div class="pull-left">
                <div class="login pull-left" style="color: black">
                    Welcome!
                </div>
                <div class="currency pull-left">
                                        </div>
                <div class="language pull-left">

        <div class="language-wrapper pull-left">
        <!--<span>Язык : </span> -->
        <div class="btn-group">
            <a href="/ru">
                <span>
                    <img class="flag_img" src="{% static 'image/flag-ru.png' %}" alt="russian" title="Русский">
                </span>
                <span class="caret"></span>
            </a>
            <a href="/en">
                <span>
                    <img class="flag_img" src="{% static 'image/flag-en.png' %}" alt="en" title="English">
                </span>
                <span class="caret"></span>
            </a>
            <a href="/ch">
                <span>
                    <img class="flag_img" src="{% static 'image/flag-ch.png' %}" width="25" alt="中文" title="中文">
                </span>
                <span class="caret"></span>
            </a>
            <div class="dropdown-menu">
                <form action="http://www.centralasia-adventures.com/ru/index.php?route=module/language" method="post" enctype="multipart/form-data">
                  <div id="language"></div>
                </form>
            </div>
        </div>
    </div>
    </div>
    </div>
    </div>
</div>
	<div id="headerbottom">
		<div class="container">
			<div class="row-fluid">

				<div class="span8">
                  <div id="logo">
                      <a href="/">
                          <h1 style=""><strong>Silk Road Travel</strong></h1>
                          <h1 style=""><strong>Kyrgyzstan</strong></h1>
                      </a>
                  </div>
				</div>

				<div class="span4">
					<div class="cart-top pull-right">
                        <img src="{% static 'image/logo_1.png' %}" style="width:180px;float:left; padding-top:5px; padding-right:10px; border:none;">
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section id="mainnav">
	<div class="container">
		<div class="mainnav-inner">
			<div class="row-fluid">

					<nav id="mainmenu">
<div class="navbar">
<div class="navbar-inner">
	<a data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar">
	  <span class="icon-bar"></span>
	  <span class="icon-bar"></span>
	  <span class="icon-bar"></span>
	</a>
<div class="nav-collapse collapse">
<ul class="nav megamenu">
    <li class="home">
    {% for country in country %}
        <li style="margin-top: 1%">
            <a href="{% url 'country_info_en' country.id %}" style="font-size: 17px;"><span class="menu-title"> {{ country.country_name }}</a></span>
        </li>
    {% endfor %}
</ul>
</div>
</div>
</div>
                    </nav>
			</div>
		</div>
	</div>
</section>
<section id="columns"><div class="container"><div class="inner-wrap"><div class="row-fluid">
{% block en %}
{% endblock %}
<div class="span3">
<div id="column-right" class="sidebar">
<div class="box category nopadding">
<div class="box-heading"><h4>OUR SERVICES</h4></div>
<div class="box-content block-content">
<ul class="box-category">
    {% for left_bar in left_bar %}
        {% if left_bar.not_commercial and left_bar.out_link == False %}
            {% if left_bar.link %}
            <li class="" style="line-height: 10px; margin: 0">
                <a style="margin-left: 5px; font-size:15px; color: black;" href="{% url 'left_bar_en' left_bar.id %}">
                    {{ left_bar.title }}
                </a>
            </li>
            {% else %}
            <li class="" style="line-height: 10px; margin: 0">
                <p style="color: black">
                    {{ left_bar.title }}
                </p>
            </li>
            {% endif %}
        {% endif %}
    {% endfor %}
</ul>
</div>
</div>
<div class="box">
  <div class="box-heading">Weather Information</div>
  <div class="box-content">
    <div class="box-category">
<!-- Gismeteo informer START -->
<link rel="stylesheet" type="text/css" href="https://nby01.gismeteo.by/assets/flat-ui/legacy/css/informer.min.css">
<div id="gsInformerID-kb85epcbH8cQuU" class="gsInformer" style="width:240px;height:173px">
  <div class="gsIContent">
    <div id="cityLink">
    <a href="https://www.gismeteo.by/weather-bishkek-5327/3-days/" target="_blank">Weather in Bishkek</a><br/>
    <a href="https://www.gismeteo.by/weather-almaty-5205/3-days/" target="_blank">Weather in Almaty</a><br/>
    <a href="https://www.gismeteo.by/weather-tashkent-5331/3-days/" target="_blank">Weather in Tashkent</a><br/>
    <a href="https://www.gismeteo.by/weather-baku-5302/3-days/" target="_blank">Weather in Baku</a><br/>
    <a href="https://www.gismeteo.by/weather-dushanbe-5358/3-days/" target="_blank">Weather in Dushanbe</a>
    </div>
    <div class="gsLinks">
      <table>
        <tr>
            <td>
            <div class="leftCol">
              <a href="https://www.gismeteo.by/" target="_blank">
                <img alt="Gismeteo" title="Gismeteo" src="https://nby01.gismeteo.by/assets/flat-ui/img/logo-mini2.png" align="middle" border="0" />
                <span>Gismeteo</span>
              </a>
            </div>
            <div class="rightCol">
              <a href="https://www.gismeteo.by/" target="_blank">2-week forecast</a>
            </div>
            </td>
        </tr>
      </table>
    </div>
  </div>
</div>
<script async src="https://www.gismeteo.by/api/informer/getinformer/?hash=kb85epcbH8cQuU" type="text/javascript"></script>
<!-- Gismeteo informer END -->

    </div>
  </div>
</div>
<div class="box">
  <div class="box-heading">Time</div>
  <div class="box-content">
    <div class="box-category">
        <p>Bishkek (GMT +6) <strong id='kg'></strong></p>
        <p>Pekin (GMT +8) <strong id='pk'></strong></p>
        <p>Moscow (GMT +3) <strong id='msw'></strong></p>
        <p>Tashkent (GMT +5) <strong id='uzb'></strong></p>
        <p>Dushanbe (GMT +5)  <strong id='dsh'></strong></p>
        <p>Ashxabat (GMT +5)  <strong id='ash'></strong></p>
    </div>
  </div>
</div>
{#<div class="box">#}
{#  <div class="box-heading">kgs currency rate</div>#}
{#  <div class="box-content">#}
{#    <div class="box-category">#}
{#        <!--Informer.kg code start-->#}
{#            <img src="http://www.informer.kg/cur_en/pngs/informer8.png" style="width: 120px; height: 160px; margin-left: 60px;" alt="Курс валют" border="0" />#}
{#        <!-- Informer.kg code end-->#}
{#    </div>#}
{#  </div>#}
{#</div>#}
<div class="box">
  <div class="box-heading">Visa</div>
  <div class="box-content">
    <div class="box-category">
            <a href="{% url 'left_bar_en' 3 %}">
                <img src="{% static 'image/visa_pasp.jpg' %}" style="width: 240px; height: 150px">
{#                <h3 style="text-align: center">Visa</h3>#}
            </a>
    </div>
  </div>
</div>
{% for left_bar in left_bar %}
    {% if left_bar.not_commercial == False and left_bar.link %}
        <div class="box">
          <div class="box-heading">{{ left_bar.title }}</div>
          <div class="box-content">
                    <div class="box-category">
                    <a href="{% url 'left_bar_en' left_bar.id %}">
                        <img src="{{ left_bar.image.url }}" style="width: 240px; height: 150px">
                    </a>
                    </div>
          </div>
        </div>
    {% endif %}
    {% if left_bar.out_link and left_bar.not_commercial == False and left_bar.link == False %}
        <div class="box">
          <div class="box-heading">{{ left_bar.title }}</div>
          <div class="box-content">
                    <div class="box-category">
                    <a href="{{ left_bar.out_href }}">
                        <img src="{{ left_bar.image.url }}" style="width: 240px; height: 150px">
                    </a>
                    </div>
          </div>
        </div>
    {% endif %}
{% endfor %}
<script type="text/javascript"><!--
$('#artsearch input[name=\'filter_artname\']').keydown(function(e) {
	if (e.keyCode == 13) {
		$('#button-artsearch').trigger('click');
	}
});

$('#button-artsearch').bind('click', function() {
	url = 'index.php?route=news/search';

	var filter_artname = $('#artsearch input[name=\'filter_artname\']').attr('value');

	if (filter_artname) {
		url += '&filter_artname=' + encodeURIComponent(filter_artname);
	}

	location = url;
});
//--></script>
<script type="text/javascript"><!--
$('#button-ULTIMATUMcontactform').live('click', function() {
	$.ajax({
		url: 'index.php?route=module/ULTIMATUMcontactform/validate',
		type: 'post',
		data: $('#ULTIMATUMcontactform-box :input'),
		dataType: 'json',
		beforeSend: function() {
			$('#button-ULTIMATUMcontactform').attr('disabled', true);
			$('#button-ULTIMATUMcontactform').after('<span class="wait">&nbsp;<img src="catalog/view/theme/default/image/loading.gif" alt="" /></span>');
		},
		complete: function() {
			$('#button-ULTIMATUMcontactform').attr('disabled', false);
			$('.wait').remove();
		},
		success: function(json) {
			$('.ULTIMATUMcontactform-warning').remove();

			if (json['error']) {
				$('#ULTIMATUMcontactform-warning-message').prepend('<div class="ULTIMATUMcontactform-warning" style="color:#f00; display: none;">' + json['error']['warning'] + '</div>');

				$('.ULTIMATUMcontactform-warning').fadeIn('slow');
			} else {
				$('#ULTIMATUMcontactform-content').html('<div class="success" style="display:none;">' + json['success'] + '</div>');

				$('.success').fadeIn('slow');
			}
		}
	});
});
//--></script>   </div>	</div>
	</div>
</div></div></section>
    <section id="footer">
<div class="footer-top">
<div class="container">

</div>
</div>
    <div class="footer-center">
    <div class="container">
    <div class="container_inner">
      <div class="row-fluid">
            <div class="column span4">
			<div class="box contact-us">
				<h3>Out contacts</h3>
				<ul style="color: white">
                        <li class="fone"> Kyrgyzstan Bishkek city Abdrahmanova street № 150</li>
                        <li class="fone"> Phone number: +996550399987 <img src="{% static 'image/whatsapp-icon.svg' %}" width="20" height="20"> +996557388389</li>
                    <li class="mail">We chat ID: alafasy07</li>
                    <li class="mail">Kazakhstan Almaty,   phone number:  +77083794149</li>
                    <li class="mail">We chat ID: islan_khiimamov</li>
                    <li class="mail">qq: 2258583632@qq.com</li>
                    <li class="skype">Skype: srt_kg </li>
                    <li class="address">E-mail：silkroadtravelkg@gmail.com</li>
                </ul>
                        </div>
                        </div>
            <div class="column span8">
        <h3>Location map to office</h3>
          <img src="{% static 'image/map.png' %}" width="700" style="height: 200px">
      </div>
      </div>
	</div>
    </div>
	</div>
</section>
{% endblock %}