#mainmenu ul.nav > li.dropdown:hover > .dropdown-menu {
    display: block;
}
.megamenu .menu-icon{
	background-position:center center;
	padding-left:23px;
	display:block;
}
	.megamenu .menu-title{
		display:block;
		font-family: 'Oswald',sans-serif;
	}	
	.megamenu .menu-desc{
		display:block;
		font-size:11px
	}
.megamenu  .menu-content{
	padding:9px
}

.megamenu .caret{
	position:absolute;
	top:30%;
	right:1px;
}
.megamenu .level1 .caret{
	display:none;
}


.megamenu ul{
	margin:0;
	padding:0
}
.megamenu ul li{
	list-style:none;
	line-height:25px;
}
.dropdown-submenu > a:after {
	border:0;
    margin-right: -10px;
    margin-top: -22px;
}
.megamenu .mega-col ul li a:link, .lofmegamenuwhite-top ul li a:visited {
    color: #909293;
}
.megamenu .mega-col ul li ul li a {
    background: url("../image/default/icon-menu-item.png") no-repeat scroll 0 11px transparent;
    border-top-width: 0;
    display: block;
    font-size: 12px;
    margin: 0;
    padding: 0 0 0 10px;
    text-decoration: none;
}
.megamenu .mega-col ul li > a:hover {
    color: #BD6F87;
}
.megamenu .dropdown-menu{
	border:0;
	border-radius:0;
	margin: 0;
}
.caret{
	border:0;
}
.navbar .nav > li > .dropdown-menu:before,.navbar .nav > li > .dropdown-menu:after{
	border:0;
}
.megamenu .mega-col{

}
.megamenu .cols1{

}
.megamenu .cols2{
	min-width:400px;
}
.megamenu .cols3{
	min-width:600px;
}
.megamenu .cols4{
	min-width:650px;
}
.megamenu .cols5{
	
	min-width:700px;
}
.fullwidth {

}

.megamenu .mega-group  > a .menu-title {
	text-decoration:uppercase;
}
.menu-content p{
	line-height: 18px;
    margin-top: 10px;
}
