a:active, a:hover, a:focus {
    color: #d74833;
}
#logo a h1 {
    background: url("") no-repeat scroll 0 0 transparent;
    font-size: 50px;
}
.btn:hover, .btn:focus {
    color: #d74833;
}
.product-grid .name a:hover, .name a:hover {
    color: #d74833;
}

.pav-blogs .blog-title a:hover {
    color: #d74833;
}
.sidebar ul > li > a:hover {
    color: #d74833;
}
#powered a {
    color: #d74833;
}

.product-info .price_inner {
    color: #d74833;
}

.blog-title a:hover{
    color: #d74833;
}
.nav-collapse .nav > li.open, .nav-collapse .nav > li:hover {
    background: none repeat scroll 0 0 #BE2E19;
}
.navbar .navbar-inner {
    background: url("../image/bg-h3.png") repeat scroll 0 0 #d74833;
}
.megamenu a span.menu-title {
    text-shadow: 0 1px 0 #BE2E19;
}
#headerbottom #cart {
    background: url("../image/icon-cart.png") no-repeat scroll 0 center transparent;
}
.sidebar .box .box-heading h4 ,.sidebar .box .box-heading,.htabs a.selected{
    background: url("../image/bg-h3.png") repeat scroll 0 0 #d74833;
}

.product-block:hover .cart .button,#cart .content .checkout a:hover,
a.button:hover, a.readmore:hover, input.button:hover,button.btn:hover,.btn-small:hover {
	background: none repeat scroll 0 0 #d74833;
	box-shadow: 0 -1px 0 1px #BE2E19 inset;
	transition: background-color 0.2s ease 0s;
    color: #fff;
}
.sidebar .box-category a:hover {
    color: #BE2E19;
}
#header .links a {
    background: url("../image/icon-top.png") no-repeat scroll 0 7px transparent;
}
.pav-search-panel {
    border-bottom: 5px solid #d74833;
}
#header #cart .content {
    border-bottom: 5px solid #d74833;
}
.product-grid .price, .product-list .price, .box-product .price {
    color: #da4934;
}
.pavcontentslider .carousel-indicators li.active {
    background-position: 0 -58px !important;
}
.bannercontainer .tp-bullets .bullet {
    background: url("../image/icon-nav.png") no-repeat scroll 0 -58px transparent !important;
}
.bannercontainer .tp-bullets .bullet:hover, .bannercontainer .tp-bullets .bullet.selected {
    background-position:0 0 !important;
}
.productcarousel .carousel-controls .left:hover {
    background-position: left -57px;
}
.productcarousel .carousel-controls .right:hover {
    background-position: right -57px;
}
.productcarousel .carousel-controls .right,.productcarousel .carousel-controls .left {
    background: url("../image/icon-next-prev.png") no-repeat scroll right top transparent;
}
.productcarousel .carousel-controls .left {
    background-position:left top;
}
h1,.welcome {
    color: #BE2E19;
}
.product-info .price {
    color: #d74833;
}
.megamenu .mega-group > a .menu-title {
    color: #d74833 !important;
}
.megamenu .mega-col ul li > a:hover {
    color: #d74833 !important;
}
.pav-search-panel {
    border-bottom: 5px solid #d74833 !important;
}
.product-filter .display a.list.active{
    background-position: -28px -54px;
}
.product-filter .display a.grid.active{
    background-position: 0 -54px;
}
.category-list ul li a {
    background-color: #d74833;
}
.category-list ul li a:hover {
    background-color: #BE2E19;
}
.nav-collapse .megamenu:after {
    border-bottom: 10px solid #BE2E19 !important;
}
.nav-collapse .megamenu {
    background: url("../image/bg-h3.png") repeat scroll 0 0 #d74833 !important;   
}
.navbar .nav li.dropdown.open > .dropdown-toggle, .navbar .nav li.dropdown.active > .dropdown-toggle, .navbar .nav li.dropdown.open.active > .dropdown-toggle {
    background-color: #BE2E19;
}
.nav-collapse .megamenu {
    border-color: #BE2E19 -moz-use-text-color -moz-use-text-color !important;
}
.nav-collapse .nav > li:hover > a, .nav-collapse .nav > li > a:hover{
    background-color: #BE2E19 !important; 
}