html {
	overflow-y: scroll;
	margin: 0;
	padding: 0;
}
body {
    background: url("../image/default/pattern.png") repeat scroll center top transparent;
    margin: 0;
    padding: 0;
}
body, td, th, input, textarea, select, a {
	font-size: 12px;
	outline: none;
}
select:focus, input[type="file"]:focus, input[type="radio"]:focus, input[type="checkbox"]:focus{
	outline: none;
}

.fs9{ font-size:9px; }
.fs10{ font-size:10px; }
.fs11{ font-size:11px; }
.fs12{ font-size:12px; }
.fs13{ font-size:13px; }
.fs14{ font-size:14px; }
.fs15{ font-size:15px; }
.fs16{ font-size:16px; }
h1, h2, h3, h4, h5, h6{
	margin:0;
	font-family: 'Oswald',sans-serif;
}
h1, .welcome {
	color: #a34b67;
	font: Verdana;
	margin-top: 0px;
	margin-bottom: 10px;
	margin-top:10px;
	font-size: 22px;
	font-weight: normal;
	text-shadow: 0 0 1px rgba(0, 0, 0, .01);
}
h2 {
	color: #5C5B5B;
	font-size: 20px;
	margin-top: 0px;
	font-weight: normal;
	margin-bottom: 5px;
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.01);
}
p {
	text-indent: 0px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 5px;
	color: #000000;
}
a, a:visited, a b {
	color: #7c7c7c;
	text-decoration:none;
	cursor: pointer;
}
a, a:visited, a:link, a:active, a:hover, a:focus, a b {
    outline: medium none;
    text-decoration:none;
}
a:active, a:hover, a:focus{
	color: #A24E68;
}
a img {
	border: none;
}

img{
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 0.15s linear 0s;
}
.product-block img:hover, .blog-item img:hover, .shopbybrand-box img:hover {
  transform: scale(0.96);
}


form {
	padding: 0;
	margin: 0;
	display: inline;
}
input[type='text'], input[type='password'], textarea {
	background: #F8F8F8;
	border: 1px solid #CCCCCC;
	padding: 3px;
	margin-left: 0px;
	margin-right: 0px;
	width:70%;
	outline: none;
}
select {
	background: #F8F8F8;
	border: 1px solid #CCCCCC;
	padding: 2px;
	width:70%;
	margin-top: 2px;
}
label {
	cursor: pointer;
	display: inline-block;
	margin-left: 2px;
}



/* layout */
#column-left {
	 margin-top: 15px;
}
#column-right {
	padding-top:15px;

}
.sidebar ul li a ,.content ul li a,.pav-blog .blog-bottom ul li a,.tab-content ul li{
    background-image: url("../image/default/icon-li.png");
    background-position: 10px 13px;
    background-repeat: no-repeat;
    display: block;
    line-height: 30px;
    padding-left: 25px;
    text-decoration:none;
}

#content {
	margin-top: 15px;
	min-height: 400px;
}

#column-left + #column-right + #content, #column-left + #content {

}
#column-right + #content {
	
}
#columns{
	clear:both;
}
#columns .container{
    background: none repeat scroll 0 0 #FFFFFF;
    border-right: 1px solid #D8E0E2;
    border-left: 1px solid #D8E0E2;
    overflow: hidden;
    padding-bottom: 15px;
}
.inner-wrap{
	padding: 0 12px;
	overflow: hidden;
}
.container{
	position:relative;	
}


/* header */
#header_right {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 0 0 3px 3px;
    box-shadow: 0 1px 1px #D0D8D9;
    min-height: 30px;
}
#headertop .login{
	line-height:30px;
	margin-left:10px;
	margin-right: 15px;
}

#headertop .login a:first-child {
    background-position: 0 1px;
}
#headertop .login a {
    background: url("../image/default/icon-login.png") no-repeat scroll 0 -19px transparent;
    padding: 0 5px 0 17px;
    text-decoration: none;
}
#header {
	position: relative;
	z-index: 100;
}
#header #logo {
    margin:20px 20px 20px 0px;
}
#logo a {
    background: url("../image/default/Logo.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 39px;
    /*width: 249px;*/
}
#logo a img{
	display: none;
}
#header .header-right{
	height:96px;
	position:relative;
}
#header .header-right > div{
	position:relative;
}
#language {
	top: 15px;
	left: 320px;
	width: 130px;
	color: #999;
	line-height: 17px;
}
#language img {
	cursor: pointer;
}
.language {
	color: #999;
	line-height: 26px;
}
.language span.caret {
    background: url("../image/default/up.png") no-repeat scroll 95% 50% transparent;
    border: 0 none;
    height: 2px;
    padding: 0;
    width: 3px;
}
.language-wrapper{
	display: block;
}
.language-wrapper .dropdown-menu {
    border-top-right-radius: 3px;
}
.language .dropdown-menu {
    background-color: #FFFFFF;
    border-radius: 0 0 4px 4px;
    border-top: medium none;
    min-width: 63px;
    padding: 5px;
    margin-top:3px;
}
.language .dropdown-menu img, .language form a {
    padding: 0 1px;
}
.language .dropdown-menu img {
    cursor: pointer;
}

#currency{
	color: #7c7c7c;
	line-height: 26px;
	display:block;
	margin-right: 5px;
}
.btn-group .btn .caret{
	background: url("../image/default/icon-dollar.png") no-repeat scroll 100% 50% transparent;
	min-height: 5px;
    padding-left: 5px;
    width: 7px;    
}
.btn:hover, .btn:focus{
	color: #A24E68;
}

#currency a{
	border: none;	
	box-shadow: none;
}
.btn-group.open .dropdown-toggle,.btn-group .btn{
	box-shadow:none !important;
	background: none !important;
	padding: 4px 12px 0 4px;
	border: none;
}
.language a {
	display: inline-block;
	padding: 0px 0px;
	border: 0px solid #CCC;
	color: #999;
	text-decoration: none;
	margin-right: 0px;
	margin-bottom: 0px;
}
#currency a b {
	color: #000;
	text-decoration: none;
}
#currency .dropdown-menu{
	box-shadow: none;
    min-width: 70px;
    padding:5px;
    margin: 0;
    border-radius: 0 0 4px 4px;
    border-top: medium none;
    margin-top: 3px;
}
#currency .dropdown-menu a{
	border: 1px solid #ccc;
	padding: 4px;
	margin-left: 4px;
}
#header #cart {
	position:relative;
	top: 0px;
	right: 0;
	z-index: 100;
}
#headerbottom #cart {
    background: url("../image/default/icon-cart.png") no-repeat scroll 0 0 transparent;
    padding-left: 60px;
	margin:25px 0;
	height:49px;
	z-index: 1;
	display: inline-block;
}
#header #cart .heading {	
	position: relative;
	z-index: 1;
}
#header #cart .heading h4 {
	color: #737272;
	font-size: 16px;
	font-weight: normal;
	margin-top: 0px;
	margin-bottom: 3px;
	text-shadow: 0 1px 0 #FFFFFF;
}

/* menu */
#off-canvas-nav .megamenu li.home a {
	 height: auto;
	 width: auto;
	 text-indent: inherit;
	 background: none;
}
ul.megamenu li.home a{
	background: url("../image/default/icon-home.png") no-repeat scroll 6px center transparent;
	text-indent: -9999px;
}
.navbar .navbar-inner {
    background: #9A4761;
    /*height: 47px;*/
    padding: 0;
    width: 100%;
}
.nav-collapse .nav > li.open, .nav-collapse .nav > li:hover {
    background: none repeat scroll 0 0 #75263e;
}
.navbar .nav li.dropdown > .dropdown-toggle .caret {
    background: url("../image/default/icon-menu.png") no-repeat scroll 0 0 transparent;
    height: 5px;
    width: 7px;
    margin-top: 5px;
    margin-right: 8px;
}
.navbar .nav > li > a.dropdown-toggle {
    padding-right: 23px;
}
.megamenu a span.menu-title{
    font-size: 14px;
    font-weight: 400;
    text-shadow: 0 1px 0 #69243A;
    text-transform: uppercase;
}
#mainmenu .navbar{
	margin-bottom:0px;
}
#mainmenu  .navbar-inner{
	border:none;
	border-radius: 0;
    box-shadow:0;
}
#header #cart .heading a {
	text-decoration: none;
}
#header #cart .heading a span {
	background:url('../image/arrow-down.png') 100% 50% no-repeat;
	padding-right: 15px;
}
#header #cart .content {
    background: none repeat scroll 0 0 #FFFFFF;
    box-shadow: 0 0 2px #BBBBBB;
    clear: both;
    display: none;
    min-height: 150px;
    min-width: 300px;
    padding: 8px;
    position: absolute;
    right:0px;
    top: 48px;
    border-bottom: 5px solid #9A4761;
    z-index: 100;

}
#header #cart.active .heading {
	/* margin:0;
	padding:0;
	border-top: 1px solid #EEEEEE;
	border-left: 1px solid #EEEEEE;
	border-right: 1px solid #EEEEEE;
	-webkit-border-radius: 7px 7px 0px 0px;
	-moz-border-radius: 7px 7px 0px 0px;
	-khtml-border-radius: 7px 7px 0px 0px;
	border-radius: 7px 7px 0px 0px; */
}
#header #cart.active .content {
	display: block;
}
.delivery-date{
	text-align: center;
}
.mini-cart-info table {
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 5px;
}
.mini-cart-info td {
	color: #000;
	vertical-align: top;
	padding: 10px 5px;
	border-bottom: 1px solid #EEEEEE;
}
.mini-cart-info .image {
	width: 1px;
}
.mini-cart-info .image img {
	border: 1px solid #EEEEEE;
	text-align: left;
}
.mini-cart-info .name small {
	color: #666;
}
.mini-cart-info .quantity {
	text-align: right;
}
.mini-cart-info td.total {
	text-align: right;
}
.mini-cart-info .remove {
	text-align: right;
}
.mini-cart-info .remove img {
	cursor: pointer;
}
.mini-cart-total {
	text-align: right;
}
.mini-cart-total table {
	border-collapse: collapse;
	display: inline-block;
	margin-bottom: 5px;
}
.mini-cart-total td {
	color: #000;
	padding: 4px;
}
#header #cart .checkout {
	text-align: right;
	clear: both;
}
#header #cart .empty {
	padding-top: 50px;
	text-align: center;
}
#header #search {
	height: auto;
	float: right;
	display: block;
}
.pav-search {
    position: relative;
}

#header .button-search{
	background: url('../image/default/icon-search.png') right center no-repeat;
	width: 28px;
	height: 30px;
	cursor: pointer;
	background-position: 0 3px;
}
.pav-search-arrow {
    border-style: solid;
    border-width: 0 5px 5px;
    height: 0;
    position: absolute;
    right: -1px;
    top: -10px;
    width: 0;
}
.pav-search:hover .pav-search-panel{
	top: 27px;
	opacity: 1;
	z-index: 1000;
}
.pav-search-panel {
    position: absolute;
    right:0px;
    top: -10000px;
    z-index: 100;
    background: none repeat scroll 0 0 #FFFFFF;
    border-bottom: 5px solid #9A4761;   
    clear: both;
    margin: 0;
    padding: 8px;
}
.search input[type="text"], .search input[type="checkbox"], .search input[type="radio"] {
    margin: 0;
}
input[type="file"], input[type="image"], input[type="submit"], input[type="reset"], input[type="button"], input[type="radio"], input[type="checkbox"] {
    margin: 0;
}
.pav-check-desc{
	margin-top: 10px;
}
#header #search input {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #E3E3E3;
    border-radius: 0 0 0 0;
    box-shadow: 0 0 5px 0 #EAEAEA inset;
    height: 20px;
    line-height: 20px;
    margin: 0;
    padding: 5px 7px;
    transition: all 0.3s ease-in-out 0s;
    width: 150px;
    float: left;
    margin: 0;
    display: inline-block;
}
#header #welcome {
	width: 100%;
	text-align: right;
	color: #999999;
}
#header .links {
    margin-left: 15px;
    padding: 5px 0;
	margin-right:15px;
}
#header .header_link{
float:right;
}
#header .links a {
	float: left;
	display: block;
	padding: 0px 7px 0px 10px;
	margin-left: 5px;
	background: url("../image/default/icon-top.png") no-repeat scroll 0 7px transparent;
    color: #7C7C7C;
    font-size: 11px;
    text-decoration: none;

}
#header .links a:hover {
    background-position: 0 -27px;

}
.breadcrumb {
	color: #CCCCCC;
    padding-left: 0;
	border-bottom:1px solid #e9e9e9;
	margin: 0;
}
.success, .warning, .attention, .information {
	padding: 10px 10px 10px 33px;
	margin:15px 0px 12px 0px;
	color: #555555;
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-khtml-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}
.success {
	background: #EAF7D9 url('../image/success.png') 10px center no-repeat;
	border: 1px solid #BBDF8D;
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-khtml-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}
.warning {
	background: #FFD1D1 url('../image/warning.png') 10px center no-repeat;
	border: 1px solid #F8ACAC;
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-khtml-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}
.attention {
	background: #FFF5CC url('../image/attention.png') 10px center no-repeat;
	border: 1px solid #F2DD8C;
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-khtml-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}
.success .close, .warning .close, .attention .close, .information .close {
	float: right;
	padding-top: 4px;
	padding-right: 4px;
	cursor: pointer;
}
.required {
	color: #FF0000;
	font-weight: bold;
}
.error {
	display: block;
	color: #FF0000;
}
.help {
	color: #999;
	font-size: 10px;
	font-weight: normal;
	font-family: Verdana, Geneva, sans-serif;
	display: block;
}
table.form {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 20px;
}
table.form tr td:first-child {
	width: 150px;
}
table.form > * > * > td {
	color: #000000;
}
table.form td {
	padding: 4px;
}
input.large-field, select.large-field {
	width: 93%;
}
table.list {
	border-collapse: collapse;
	width: 100%;
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	margin-bottom: 20px;
}
table.list td {
	border-right: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
}
table.list thead td {
	background-color: #EFEFEF;
	padding: 0px 5px;
}
table.list thead td a, .list thead td {
	text-decoration: none;
	color: #222222;
	font-weight: bold;
}
table.list tbody td {
	padding: 0px 5px;
}
table.list .left {
	text-align: left;
	padding: 7px;
}
table.list .right {
	text-align: right;
	padding: 7px;
}
table.list .center {
	text-align: center;
	padding: 7px;
}
table.radio {
	width: 100%;
	border-collapse: collapse;
}
table.radio td {
	padding: 5px;
}
table.radio td label {
	display: block;
}
table.radio tr td:first-child {
	width: 1px;
}
table.radio tr td:first-child input {
	margin: 1px 0;
}
table.radio tr.highlight:hover td {
	background: #F1FFDD;
	cursor: pointer;
}
.pagination {
	padding-top: 8px;
	display: inline-block;
	width: 100%;
	margin-bottom: 10px;
	margin-top: 0;
}
.pagination .links {
	float: left;
}
.pagination .links a {
    background: none repeat scroll 0 0 #F7F7F8;
    border: 1px solid #E9E9E9;
    border-radius: 3px 3px 3px 3px;
    color: #858585;
    display: inline-block;
    padding: 5px 10px;
}
.pagination .links b {
	display: inline-block;
	border: 1px solid #E9E9E9;
	padding: 4px 10px;
	font-weight: normal;
	text-decoration: none;
	color: #858585;
	font-weight:bold;
	background: #FFFFFF;
}
.pagination .results {
	float: right;
	padding-top: 3px;
}
/* button */
a.button, input.button,a.readmore,#cart .content .checkout a,button.btn,.btn-small {
    background: none repeat scroll 0 0 #4A4A4A;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 -1px 0 1px #434343 inset;
    color: #FFFFFF;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    line-height: 27px;
    position: relative;
    text-shadow: 0 1px 0 #01080C;
    transition: background-color 0.2s ease 0s;
    width: auto;
    border: none;

}

a.button, a.readmore{
	display:inline-block;
	text-decoration: none;
	padding:0 12px;
}
a.button:hover, a.readmore:hover,input.button:hover,button.btn:hover,.btn-small:hover{
    background: none repeat scroll 0 0 #B24667;
    box-shadow: 0 -1px 0 1px #A13F5D inset;
    transition: background-color 0.2s ease 0s;
    color: #fff;
}
input.button {
	margin: 0 0 0 5px;
	border: 0;
	height: 27px;
	padding: 0px 12px 0px 12px;
}
a.button:hover, input.button:hover {
	background-position: 0px -24px;
}
.buttons {
	background: #FFFFFF;
	border: 1px solid #EEEEEE;
	overflow: auto;
	padding: 6px;
	margin-bottom: 20px;
}
.buttons .left {
	float: left;
	text-align: left;
}
.buttons .right {
	float: right;
	text-align: right;
}
.buttons .center {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
.htabs {
	height: 39px;
	line-height: 16px;
	border-bottom: 1px solid #DDDDDD;
}
.htabs a {
	float: left;
	text-align: center;
	text-decoration: none;
	margin-right: 5px !important;
}

.htabs a.selected {
	background: none repeat scroll 0 0 #9A4761;
    color: #FFFFFF;
    margin-right: 5px !important;
}
#tab-related{
	margin-top: 15px;
}
.tabs-group{
	margin-bottom: 20px;
}
.tab-content {
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
	padding: 10px;
	z-index: 2;
	overflow: auto;
	color: #818181;
}
.tab-content ul li{
	list-style: none;
	line-height: 30px;
}
.content-top, .content-bottom{
	margin-top:15px
}
.content-top .box{
	margin-bottom: 15px;
	margin-top:15px
}
/* box */

.box {
	position: relative;
}
.box .box-heading,.htabs a{
	background:  #E4E3E2;
    color: #5c5b5b;
    font-size: 14px;
 	padding:10px 12px;
    text-transform: uppercase;
	font-family: 'Oswald',sans-serif;
}

.box.nopadding .box-content{ padding: 0 }
.box.nomargin .box-content{ margin:  0 }

.sidebar  .box.highlight .box-heading {
	background-color: #5FA8DB;
}

.sidebar .box .box-heading {
    background-color:#9A4761;
    color: #fff
}
.sidebar .box .box-content
{	border-left: 1px solid #DBDEE1;
	border-right: 1px solid #DBDEE1;
	border-bottom: 1px solid #DBDEE1;
}
.sidebar .box .custom_content{
	border: none;
}
.sidebar .box .box-heading h4{
	color: #FFF
}

.sidebar .category .block-content {
    margin-top:0px;
	margin-bottom:20px;
	padding: 12px
}
.box {
	margin-bottom: 20px;
}
.box .box-content{
	padding: 12px; 
}

#content .box .box-heading > * { color: #5c5b5b }
#content .box .box-content{

}
.box .custom_content img{
	border: 1px solid #E9E9E9;
}
.sidebar .box .custom_content img{
	border-top: 1px solid #E9E9E9;
	border-bottom: 0;
	border-right: 0;
	border-left: 0;
}
.product-block {
	padding-top:15px ;
}
.product-block .product-inner{
	border: 1px solid #E9E9E9;
    display: block;
    overflow: hidden;
    padding: 12px;
}
 

.sidebar .box-category a:hover{
	color:#a24e68;
}

/* box products */
.sidebar .product-block .product-inner{
	border:none;
}
.sidebar .product-block:hover > div {
    border: medium none;
    box-shadow: none;
}
 
.sidebar .product-block{
	border-top: 1px solid #e9e9e9;
	padding:0;
	margin-right:0;
	margin-left: 0 !important;
	margin-bottom:10px;
	width: 100% !important;
}


.box-product > div {

	margin-bottom:0px;
}
 
.box-product .image {
	display: block;
	margin-bottom: 0px;
}
.box-product .image img {
	padding: 3px;
}
.box-product .name a {

}
.box-product .price {
	float:left;
}
.box-product .price-old {
}
.box-product .price-new {
}
.box-product .rating {
	display: block;
	margin-bottom: 4px;
}
/* box category */
.sidebar ul, .sidebar ul ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
/*
.sidebar ul > li:first-child {
	padding:0;
} */

.sidebar ul > li {
	padding:0;
}
.sidebar ul > li + li {
	border-top: 1px solid #EEEEEE;
}
.sidebar ul > li > a {
	text-decoration: none;
	color: #939393;
}
.sidebar ul > li > a:hover{
	color: #A24E68;
}
.sidebar ul > li ul {
	display: none;
}
.sidebar ul bo > li a.active {
	font-weight: bold;
}
.sidebar ul > li a.active + ul {
	display: block;
}
.sidebar ul > li ul > li {
	padding: 5px 5px 0px 10px;
}
.sidebar ul > li ul > li > a {
	text-decoration: none;
	display: block;
	background:none;
}
.sidebar ul > li ul > li > a.active {
	font-weight: bold;
}

ul.box-category li.haschild {
    background: url("../image/default/arrow-li-children.png") no-repeat scroll 94% 12px transparent;
}
/* box filter */
ul.box-filter, ul.box-filter ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
ul.box-filter span {
	font-weight: bold;
	border-bottom: 1px solid #EEEEEE;	
	display: block;
	padding-bottom: 5px;
	margin-bottom: 8px;
}
ul.box-filter > li ul {
	padding-bottom: 10px;
}
/* content */
#content .content {
	padding: 10px;
	overflow: auto;
	margin-bottom: 20px;
	border: 1px solid #EEEEEE;
	color: #818181;
}
#content .content ul li{
	line-height: 25px;
	list-style: none;
}
#content .content .left {
	float: left;
	width: 49%;
}
#content .content .right {
	float: right;
	width: 49%;
}
/* category */
.category-info {
	overflow: auto;
	margin-bottom: 20px;
}
.category-info .image {
	padding: 5px;
	border: 1px solid #E7E7E7;
	margin-top: 5px;
}
.category-info .image img{
}

.category-info .category-description{
	background: #f3f3f3;
  	border: 1px solid #DBDEE1;
  	border-radius: 4px;
  	padding: 12px;
}

.category-info a{
	text-decoration:underline;
}

.category-list {
	overflow: auto;
	margin-bottom: 10px;
}
.category-list ul{
	overflow: hidden;
	margin: 0;
}
.category-list ul li {
    float: left;
    margin-bottom: 5px;
    margin-right: 5px;
    list-style: none;
    line-height: 20px;
}
.category-list ul li a {
    background-color: #9A4761;
    border-radius: 3px 3px 3px 3px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    padding: 5px 16px;
    text-indent: 0;
    transition: all 0.3s ease 0s;
}
.category-list ul li a:hover {
    background-color: #75263E;
}

/* manufacturer */
.manufacturer-list {
	border: 1px solid #DBDEE1;
	padding: 5px;
	overflow: auto;
	margin-bottom: 20px;
}
.manufacturer-heading {
	background: #F8F8F8;
	font-size: 15px;
	font-weight: bold;
	padding: 5px 8px;
	margin-bottom: 6px;
}
.manufacturer-content {
	padding: 8px;
}
.manufacturer-list ul {
	float: left;
	width: 25%;
	margin: 0;
	padding: 0;
	list-style: none;
	margin-bottom: 10px;
}
/* product */
.product-filter {
	margin-bottom: 15px;
    padding: 6px 10px;
	overflow: auto;
	background: #e9e9e9;
}

.product-filter .display{
	float: left;
    margin-right: 10px;
}
.product-filter .display a.list {
    background-position: -28px top;
}
.product-filter .display a {
    background-image: url("../image/default/icon_display.png");
    background-repeat: no-repeat;
    display: inline-block;
    height: 21px;
    margin: 4px -1px 0;
    overflow: hidden;
    text-indent: -9999em;
    width: 29px;
}
.product-filter .display a.grid{
	background-position: 0 0px;
}
.product-filter .display a.list.active{
	background-position: -28px -27px;
}
.product-filter .display a.grid.active{
	background-position: 0 -27px;
}
.product-filter .sort {
	float: right;
	color: #333;
}
.product-filter .limit {
	margin-left: 15px;
	float: right;
	color: #333;
	display:none;
}
.product-compare {
	padding-top: 3px;
	font-weight: bold;
	float:left;
}
.product-compare a {
	text-decoration: none;
	font-weight: bold;
}
.product-list   div.product-block {
	overflow: auto;
	margin-bottom: 15px;
}
.product-list .right {
	float: right;
	margin-left: 15px;
}
.product-list > div + div {
	border-top: 1px solid #EEEEEE;
	padding-top: 16px;
}
.product-list .product-block .image {
	float: left;
	margin-right: 10px;
	padding: 3px;
	border: 1px solid #e7e7e7;
}
.product-block .image {
	
	overflow: hidden;
	position: relative;
	text-align: center;
}
.product-list .name {
	margin-bottom: 3px;
}
.product-list .name a {
	font-weight: bold;
	text-decoration: none;
	margin-left: 30px;
    text-align: left;
}
.product-list .description {
	line-height: 15px;
	margin-bottom: 5px;
	color: #4D4D4D;
}
.product-list .rating {
	color: #7B7B7B;
}
.product-list .price {
	float: right;
	height: 50px;
	margin-left: 8px;
	text-align: right;
	color: #333333;
	font-size: 12px;
	margin-top: 10px;
}
.product-list .price-old {
	color:#909293;
	text-decoration: line-through;
}
.product-list .price-new {
	font-weight: bold;
}
.product-list .price-tax {
	font-size: 12px;
	font-weight: normal;
	color: #BBBBBB;
}
.product-list .cart {
	margin-bottom: 3px;
}
.product-list .wishlist, .product-list .compare {
	margin-bottom: 3px;
}
 



.label{
	background-color: #9A4761;
	float: right;
    color: #fff;
    font-size: 11px;
    line-height: 20px;
    padding: 0 10px;
    position: absolute;
    right: 5px;
    text-align: center;
    top:5px;
    z-index: 10;

}
.product-block .image a{
	color: #9A4761;
	font-size: 14px;
}

.product-block .product-zoom{
	position: absolute;
	bottom: 10px; 
	left: 10px;
	display: none;
	z-index: 999
}
.product-block .product-zoom span{
    background: none repeat scroll 0 0 #B24667;
    box-shadow: 0 -1px 0 1px #A13F5D inset;
    color: #FFFFFF;
    transition: background-color 0.2s ease 0s;
    -moz-transtion:background-color 0.2s ease 0s;
    padding: 3px 5px;
    border-radius: 3px 3px 3px 3px;

}

.product-block:hover .product-zoom {
	display: block;
}

.product-block > div{
    border: 1px solid #E9E9E9;
    padding: 12px;
	margin: 3px 0px 5px 0;
	display:block;
	overflow: hidden;
}


.product-block:hover > div{
	box-shadow: 0 0 3px #AAAAAA inset;
    transition: all 0.3s ease 0s ;
    -webkit-transition:all 0.3s ease 0s;
}
.product-block:hover .cart .button {
	background: none repeat scroll 0 0 #b24667;
	box-shadow: 0 -1px 0 1px #a13f5d inset;
	transition: background-color 0.2s ease 0s;
	 -webkit-transition:background-color 0.2s ease 0s;
}
.product-grid {
	width: 100%;
	overflow: hidden;
}
.product-grid > div {

	display: inline-block;
	vertical-align: top;

	margin-bottom: 15px;
}

/** sidelist */
.sidebar .product-block a{
	text-align: left;
}
.sidebar .product-block .image{
	float: left;
	width: 70px;
	margin-right: 15px;
}
.sidebar .product-block .wishlist, 
.sidebar .product-block .compare,  
.sidebar .product-block .cart{
	display: none;

}
 .product-list .row-fluid  [class*="span"] {
	width:100%;
	margin-left:0
}
 
.product-grid .image {
	display: block;
	margin-bottom: 0px;
	position: relative;
	overflow: hidden;
}
.product-grid .image img {
	text-align: center;
	width: 100%;

}
.product-grid .name a,.name a {
	color: #676767;
	font-weight: bold;
	text-decoration: none;
	display: block;
	margin-bottom: 4px;
	text-align:center;
	text-transform: uppercase;
}
.product-grid .name a:hover,.name a:hover {
	color: #A34B67;
}

.product-grid .rating {
	display: block;
	margin-bottom: 4px;
}
.product-block .price {
    color: #A24E68;
    display: block;
    font-family: 'Oswald',sans-serif;
    font-size: 20px;
    font-weight: normal;
    margin-top: 20px;
    white-space: nowrap;
}
 .price-old  {
	color: #909293;
	text-decoration: line-through;
	font-size: 15px;
	font-weight: normal;
}
.product-grid .price-new {
}
.product-grid .price .price-tax {
	display: none;
}
.product-inner .cart,.product-block-inner .cart{
    float: left;
    margin: 20px 20px 3px 0px;
}
.product-block .wishlist,.product-block .compare{ 
    margin: 25px 10px 0 0;
    float: right;
}
.product-block .wishlist a,.wishlist a,
.product-block .compare a,.compare a{
    background-image: url("../image/default/icon-wishlist.png");
    background-repeat: no-repeat;
    display: block;
    height: 14px;
    overflow: hidden;
    padding: 0;
    text-indent: -9999em;
    width: 15px;
}
.product-info .wishlist, .product-info .compare {
    margin: 6px 5px;
    float: left;
    text-indent:0;
}
.product-block .wishlist a,.wishlist a {
    background-position: -27px 0;
    margin: 0;
}
.product-block .compare a,.compare a {
    background-position: 0 top;
}

.product-block .wishlist a:hover,.wishlist a:hover {
	background-position:-27px -18px;;
}
.product-block .compare a:hover,.compare a:hover{

	background-position: 0 -18px;
}

/* Product */
.product-info {
	overflow: auto;
	margin-bottom: 20px;
	position: relative;
}
.product-info > .left {
	float: left;
	margin-right: 15px;
}
.product-info > .left + .right {
	margin-left: 265px;
}
.product-info .image {
	border: 1px solid #E7E7E7;
	margin-bottom: 20px;
	padding: 10px;
	text-align: center;
	position: relative;
}
.product-info .image img#image {
    width: 100%;
}
.product-info .product-label-special {
    margin: 5px 0 0 15px;

}
.product-info .image-additional {
    clear: both;
    display: inline-block;
    position: relative;
    width: 100%;
    margin-bottom: 10px;
}
.product-info .image-additional img {
	border: 1px solid #E7E7E7;
}

.product-info .image-additional .carousel-inner .item a:first-child {
    margin-left: 0;
}
.product-info .image-additional a {
	float: left;
	display: block;
	margin-left: 10px;
	margin-bottom: 10px;
}
.product-info .image-additional .carousel-control {
    font-size: 20px;
    height: 20px;
    line-height: 17px;
    width: 20px;
}
.carousel-control {
    background: none repeat scroll 0 0 #222222;
    border: 3px solid #FFFFFF;
    border-radius: 23px 23px 23px 23px;
    color: #FFFFFF;
    font-size: 60px;
    font-weight: 100;
    height: 30px;
    left: 15px;
    line-height: 25px;
    margin-top: -20px;
    opacity: 0.5;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 30px;
}


.product-info .description {
	border-top: 1px solid #E7E7E7;
	border-bottom: 1px solid #E7E7E7;
	padding: 5px 5px 10px 5px;
	margin: 10px 0;
	line-height: 20px;
}
.product-info .description span {
	font-weight: bold;
    margin-right: 10px;
}
.product-info .description a {
	text-decoration: none;
}
.product-info .price-cart {
    overflow: hidden;
    color: #898888;
    background: none repeat scroll 0 0 #F4F4F2;
    border: 1px solid #DCDBDB;
    overflow: hidden;
    padding: 10px;
}
.price-cart .price{
	margin-top: 0;
	font-size: 20px;
	color: #A24E68;
}
.product-extra {
    padding: 9px 0;
}
.cart_inner input[name="quantity"]{
	background: none repeat scroll 0 0 transparent;
    border: 1px solid #DADADA;
    border-radius: 0 0 0 0;
    box-shadow: none;
    height: 19px;
}
.product-info .price_inner {
    color: #A24E68;
    float: left;
    font-family: 'Oswald',sans-serif;
    font-size: 22px;
    margin: 4px 10px 4px 0
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.01);
	font-weight: normal;
}

.product-info .price-old {
	color:#909293;
	text-decoration: line-through;
}
.quantity input[type="text"], input[name="quantity"] {
    margin-bottom: 0;
    padding-bottom: 3px;
    padding-top: 3px;
    text-align: center;
    width: 30px;
    height: 20px;
}
.product-info .price-other {
    clear: both;
}
.product-info .price-tax {
    font-style: italic;
}
.product-info .price-new {
}
.product-info .price-tax {
	font-size: 12px;
	font-weight: normal;
	color: #999;
}
.product-info .price .reward {
	font-size: 12px;
	font-weight: normal;
	color: #999;
}
.product-info .price .discount {
	font-weight: normal;
	font-size: 12px;
	color: #4D4D4D;
}
.product-info .options {
	border-bottom: 1px solid #E7E7E7;
	padding: 0px 5px 10px 5px;
	margin-bottom: 10px;
	margin-top: 10px;
}
.product-info .option-image {
	margin-top: 3px;
	margin-bottom: 10px;
}
.product-info .option-image label {
	display: block;
	width: 100%;
	height: 100%;
}
.product-info .option-image img {
	margin-right: 5px;
	border: 1px solid #CCCCCC;
	cursor: pointer;
}
.product-info .cart {
	border-bottom: 1px solid #E7E7E7;
	padding: 0px 5px 10px 5px;
	margin-bottom: 20px;
	color: #4D4D4D;
}

.product-info .compare-wish a.wishlist {
    background-position: left 2px;
}
.product-info .compare-wish a.compare {
    background-position: left -27px;
}

.product-info .cart .wishlist,
.product-info .cart .compare{
	float: right;
	margin: 10px;
}
.product-info .cart div > span {
	color: #999;
}
.product-info .cart .links {
	display: inline-block;
	vertical-align: middle;
}
.product-info .cart .minimum {
	padding-top: 5px;
	font-size: 11px;
	color: #999;
}
.product-info .cart input[type="text"]{
	width: 20%;
}
.product-info .review {
	color: #4D4D4D;
	border-top: 1px solid #E7E7E7;
	border-left: 1px solid #E7E7E7;
	border-right: 1px solid #E7E7E7;
	margin-bottom: 10px;
}
.product-info .review > div {
	padding: 8px;
	border-bottom: 1px solid #E7E7E7;
	line-height: 20px;
}
.product-info .review > div > span {
	color: #38B0E3;
}
.product-info .review .share {
	overflow: auto;
	line-height: normal;
}
.product-info .review .share a {
	text-decoration: none;
}
.review-list {
	padding: 10px;
	overflow: auto;
	margin-bottom: 20px;
	border: 1px solid #EEEEEE;
}
.review-list .author {
	float: left;
	margin-bottom: 20px;
}
.review-list .rating {
	float: right;
	margin-bottom: 20px;
}
.review-list .text {
	clear: both;
}
.attribute {
	border-collapse: collapse;
	width: 100%;
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	margin-bottom: 20px;
}
.attribute thead td, .attribute thead tr td:first-child {
	color: #000000;
	font-size: 14px;
	font-weight: bold;
	background: #F7F7F7;
	text-align: center;
}
.attribute tr td:first-child {
	color: #000000;
	font-weight: bold;
	text-align: right;
	width: 30%;
}
.attribute td {
	padding: 7px;
	color: #4D4D4D;
	text-align: left;
	vertical-align: top;
	border-right: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
}
.compare-info {
	border-collapse: collapse;
	width: 100%;
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	margin-bottom: 20px;
}
.compare-info thead td, .compare-info thead tr td:first-child {
	color: #000000;
	font-size: 14px;
	font-weight: bold;
	background: #F7F7F7;
	text-align: left;
}
.compare-info tr td:first-child {
	color: #000000;
	font-weight: bold;
	text-align: left;
}
.compare-info td {
	padding: 7px;
	width: 20%;
	color: #4D4D4D;
	text-align: center;
	vertical-align: top;
	border-right: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
}
.compare-info .name a {
	font-weight: bold;
}
.compare-info .price-old {
	font-weight: bold;
	color: #909293;
	text-decoration: line-through;
}
.compare-info .price-new {
	font-weight: bold;
}
/* wishlist */
.wishlist-info table {
	width: 100%;
	border-collapse: collapse;
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
	margin-bottom: 20px;
}
.wishlist-info td {
	padding: 7px;
}
.wishlist-info thead td {
	color: #4D4D4D;
	font-weight: bold;
	background-color: #F7F7F7;
	border-bottom: 1px solid #DDDDDD;
}
.wishlist-info thead .image {
	text-align: center;
}
.wishlist-info thead .name, .wishlist-info thead .model, .wishlist-info thead .stock {
	text-align: center;
}
.wishlist-info thead .quantity, .wishlist-info thead .price, .wishlist-info thead .total, .wishlist-info thead .action {
	text-align: center;
}
.wishlist-info tbody td {
	vertical-align: top;
	border-bottom: 1px solid #DDDDDD;
}
.wishlist-info tbody .image img {
	border: 1px solid #DDDDDD;
}
.wishlist-info tbody .image {
	text-align: center;
}
.wishlist-info tbody .name, .wishlist-info tbody .model, .wishlist-info tbody .stock {
	text-align: center;
}
.wishlist-info tbody .quantity, .wishlist-info tbody .price, .wishlist-info tbody .total, .wishlist-info tbody .action {
	text-align: center;
}
.wishlist-info tbody .price s {
	color: #F00;
}
.wishlist-info tbody .action img {
	cursor: pointer;
}
.login-content {
	margin-bottom: 20px;
	overflow: auto;
}
.login-content .left {
	float: left;
	width: 48%;
}
.login-content .right {
	float: right;
	width: 48%
}
.login-content .left .content, .login-content .right .content {
	min-height: 190px;
}
/* orders */
.order-list {
	margin-bottom: 10px;
}
.order-list .order-id {
	width: 49%;
	float: left;
	margin-bottom: 2px;
}
.order-list .order-status {
	width: 49%;
	float: right;
	text-align: right;
	margin-bottom: 2px;
}
.order-list .order-content {
	padding: 10px 0px;
	display: inline-block;
	width: 100%;
	margin-bottom: 20px;
	border-top: 1px solid #EEEEEE;
	border-bottom: 1px solid #EEEEEE;
}
.order-list .order-content div {
	float: left;
	width: 33.3%;
}
.order-list .order-info {
	text-align: right;
}
.order-detail {
	background: #EFEFEF;
	font-weight: bold;
}
/* returns */
.return-list {
	margin-bottom: 10px;
}
.return-list .return-id {
	width: 49%;
	float: left;
	margin-bottom: 2px;
}
.return-list .return-status {
	width: 49%;
	float: right;
	text-align: right;
	margin-bottom: 2px;
}
.return-list .return-content {
	padding: 10px 0px;
	display: inline-block;
	width: 100%;
	margin-bottom: 20px;
	border-top: 1px solid #EEEEEE;
	border-bottom: 1px solid #EEEEEE;
}
.return-list .return-content div {
	float: left;
	width: 33.3%;
}
.return-list .return-info {
	text-align: right;
}
.return-product {
	overflow: auto;
	margin-bottom: 20px;
}
.return-name {
	float: left;
	width: 31%;
	margin-right: 15px;
}
.return-model {
	float: left;
	width: 31%;
	margin-right: 15px;
}
.return-quantity {
	float: left;
	width: 31%;
}
.return-detail {
	overflow: auto;
	margin-bottom: 20px;
}
.return-reason {
	float: left;
	width: 31%;
	margin-right: 15px;
}
.return-opened {
	float: left;
	width: 31%;
	margin-right: 15px;
}
.return-opened textarea {
	width: 98%;
	vertical-align: top;
}
.return-captcha {
	float: left;
}
.download-list {
	margin-bottom: 10px;
}
.download-list .download-id {
	width: 49%;
	float: left;
	margin-bottom: 2px;
}
.download-list .download-status {
	width: 49%;
	float: right;
	text-align: right;
	margin-bottom: 2px;
}
.download-list .download-content {
	padding: 10px 0px;
	display: inline-block;
	width: 100%;
	margin-bottom: 20px;
	border-top: 1px solid #EEEEEE;
	border-bottom: 1px solid #EEEEEE;
}
.download-list .download-content div {
	float: left;
	width: 33.3%;
}
.download-list .download-info {
	text-align: right;
}
/* cart */
.cart-info,#content .content,.cart-module,.cart-total,#content .buttons{
	margin-right: 15px;
}
.cart-info table {
	width: 100%;
	margin-bottom: 15px;
	border-collapse: collapse;
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
}
.cart-info td {
	padding: 7px;
}
.cart-info thead td {
	color: #4D4D4D;
	font-weight: bold;
	background-color: #F7F7F7;
	border-bottom: 1px solid #DDDDDD;
}
.cart-info thead .image {
	text-align: center;
}
.cart-info thead .name, .cart-info thead .model, .cart-info thead .quantity {
	text-align: center;
}
.cart-info thead .price, .cart-info thead .total {
	text-align: right;
}
.cart-info tbody td {
	vertical-align: top;
	border-bottom: 1px solid #DDDDDD;
}
.cart-info tbody .image img {
	border: 1px solid #DDDDDD;
}
.cart-info tbody .image {
	text-align: center;
}
.cart-info tbody .name, .cart-info tbody .model, .cart-info tbody .quantity {
	text-align: center;
}
.cart-info tbody .quantity input[type='image'], .cart-info tbody .quantity img {
	position: relative;
	top: 4px;
	cursor: pointer;
}
.cart-info tbody .price, .cart-info tbody .total {
	text-align: right;
}
.cart-info tbody span.stock {
	color: #F00;
	font-weight: bold;
}
.cart-module > div {
	display: none;
}
.cart-total {
	border-top: 1px solid #DDDDDD;
	overflow: auto;
	padding-top: 8px;
	margin-bottom: 15px;
}
.cart-total table {
	float: right;
}
.cart-total td {
	padding: 3px;
	text-align: right;
}
/* checkout */
.checkout{
	padding-right: 12px;
}
.checkout a{
	padding: 0 12px;
}
#cart .content .checkout a:hover{
	background: none repeat scroll 0 0 #B24667;
    box-shadow: 0 -1px 0 1px #A13F5D inset;
    transition: background-color 0.2s ease 0s;
}
.checkout-heading {
	background: #F8F8F8;
	border: 1px solid #DBDEE1;
	padding: 8px;
	font-weight: bold;
	font-size: 13px;
	color: #555555;
	margin-bottom: 15px;
}
.checkout-heading a {
	float: right;
	margin-top: 1px;
	font-weight: normal;
	text-decoration: none;
}
.checkout-content {
	padding: 0px 0px 15px 0px;
	display: none;
	overflow: auto;
}
.checkout-content .left {
	float: left;
	width: 48%;
}
.checkout-content .right {
	float: right;
	width: 48%;
}
.checkout-content .buttons {
	clear: both;
}
.checkout-content .buttons b {
	color: #fff;
	font-weight: normal;
}
.checkout-product table {
	width: 100%;
	border-collapse: collapse;
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
	margin-bottom: 20px;
}
.checkout-product td {
	padding: 7px;
}

.checkout-product thead td {
	color: #4D4D4D;
	font-weight: bold;
	background-color: #F7F7F7;
	border-bottom: 1px solid #DDDDDD;
}
.checkout-product thead .name, .checkout-product thead .model {
	text-align: left;
}
.checkout-product thead .quantity, .checkout-product thead .price, .checkout-product thead .total {
	text-align: right;
}
.checkout-product tbody td {
	vertical-align: top;
	border-bottom: 1px solid #DDDDDD;
}
.checkout-product tbody .name, .checkout-product tbody .model {
	text-align: left;
}
.checkout-product tbody .quantity, .checkout-product tbody .price, .checkout-product tbody .total {
	text-align: right;
}
.checkout-product tfoot td {
	text-align: right;
	border-bottom: 1px solid #DDDDDD;
}

.contact-info {
	overflow: auto;
}
.contact-info .left {
	float: left;
	width: 48%;
}
.contact-info .right {
	float: left;
	width: 48%;
}
.sitemap-info ul li{
	line-height: 25px;
}
.sitemap-info {
	overflow: auto;
	margin-bottom: 40px;
}
.sitemap-info .left {
	float: left;
	width: 48%;
}
.sitemap-info .right {
	float: left;
	width: 48%;
}

/* footer */ 
#footer {
		clear: both;
		overflow: auto;
		min-height: 100px;

	}
	#footer  .custom_content img{
	border:none;
	}
	#footer .container,#powered .container,#pav-mass-bottom .container {
	background: none repeat scroll 0 0 #313336;
    overflow: hidden;
	}
	#pav-mass-bottom .container{
	border-top: 8px solid #26292c;
	}
	#footer .footer-top .blog-item{
	padding:0;
	}
	#footer .footer-top h3{
	display:none;
	}
	#footer .footer-top  .container_inner{
	background: none repeat scroll 0 0 #2B2D30;
	margin: 0 15px;
	
	}
	#footer .footer-bottom  ul {
		margin:0;
	}
	#footer .footer-bottom   ul li{
		line-height:25px;
	}
	#footer .container_inner, #pav-mass-bottom .container_inner{
	padding:15px;
	}
	#powered  .container_inner{
    background-color:#2B2D30;
	color:#b9bcbd;
	padding: 15px;
	}
	#powered   a{
	color: #A24E68;
	}

	#footer .footer-bottom  .span4{
	margin-left:0;
	}
	#footer .footer-bottom  p{
	color:#909293;
	line-height:30px;
	margin-left: 40px;
	}
	#footer .footer-bottom img{
	margin-right:10px;
	}
	#footer .box .box-content{
			background:none;
			border:none;
			padding:0;
			margin:0;
		}
		#footer .box .box-heading {
			background:none;
			border:none;
	}
#footer .box .box-content ul li{
	color: #7C7C7C;
	list-style: none;
}
.listmenu a:hover{
	opacity: 0.8;
}
.fone {
    background: url("../image/default/icon-fone.png") no-repeat scroll 0 center transparent;
    padding-left: 20px;
}
.fax {
    background: url("../image/default/icon-fax.png") no-repeat scroll 0 center transparent;
    padding-left: 20px;
}
.mail {
    background: url("../image/default/icon-mail.png") no-repeat scroll 0 center transparent;
    padding-left: 20px;
}
.address {
    background: url("../image/default/icon-map.png") no-repeat scroll 0 center transparent;
    padding-left: 20px;
}
.skype {
    background: url("../image/default/icon-skype.png") no-repeat scroll 0 center transparent;
    padding-left: 20px;
}

#footer h3 {
	font-size: 15px;
	margin-top: 0px;
	color:#e9eef1;
	font-weight: normal;
	margin-bottom: 10px;
}
#footer .column {

}
#footer .column ul {
	margin: 0;
}
#footer .column ul li {	
	margin-bottom: 3px;
	list-style: none;
	color: #7c7c7c;
}

#powered {
	text-align: center;
	clear: both;
}
#powered .paypal {
    line-height: 30px;
}
#powered .copyright {
    line-height: 30px;
    text-align: right;
    height: 40px;
}
.blog-title a{
	color: #e9eef1;
    font-size: 14px;
    font-family: 'Oswald',sans-serif;
    font-weight: normal;

}
.blog-title a:hover{
	color: #A24E68;
}
h4.blog-title{
	margin: 10px 0 0 0;
	padding: 0;
}
.footer-top .navbar{
	margin-bottom:0;
}
#footer h4{
	margin:0;
	font-size:14px;
}

#footer ul li{
	line-height:24px;

}
.social{
	float:left;
	margin-top: 4px;
}
.custom_follow{
	float: left;
	margin:0px 0 0px 10px;
}
.social .custom_follow a:hover{
	opacity:0.8;
}
	.social .custom_follow a.in{
    background-position: left top;
}
.social .custom_follow a.facebook{
    background-position: -27px 0;
}
.social .custom_follow a.twitter{
    background-position: -54px 0;
}
.social .custom_follow a.google{
    background-position: -81px 0;
}
.social .custom_follow a {
    background: url("../image/default/social.png") no-repeat scroll 0 0px transparent;
    display: block;
    float: left;
    height: 24px;
    margin: 0 3px;
    overflow: hidden;
    text-indent: -9999em;
    width: 23px;
}
#footer .listmenu a{
	font-family: 'Oswald',sans-serif;
	font-size:14px;
	text-shadow: none;
	}

#footer .listmenu a.freeshipping {
    background-position: 0 3px;
}
#footer .listmenu a.moneyback {
    background-position: 0 -36px;
}
#footer .listmenu a.exchange {
    background-position: 0 -74px;
}
#footer .listmenu a.securepayment {
    background-position: 0 -114px;
}
#footer .listmenu a {
    background: url("../image/default/icon-shipping.png") no-repeat scroll 0 0 transparent;
    display: inline-block;
    height: 25px;
    margin-right: 10px;
    padding-left: 35px;
    line-height: 25px;
}
/* footer top */


/* banner */
.banner div {
	text-align: center;
	width: 100%;
	display: none;
}
.banner div img {
	margin-bottom: 20px;
}




.pattern1{background:url(../image/pattern/pattern1.png);	}
.pattern2{background:url(../image/pattern/pattern2.png);	}
.pattern3{background:url(../image/pattern/pattern3.png);	}
.pattern4{background:url(../image/pattern/pattern4.png);	}
.pattern5{background:url(../image/pattern/pattern5.png);	}
.pattern6{background:url(../image/pattern/pattern6.png);	}
.pattern7{background:url(../image/pattern/pattern7.png);	}
.pattern8{background:url(../image/pattern/pattern8.png);	}
/*.pattern9{background:url(../image/pattern/pattern9.png);	}*/
.pattern10{background:url(../image/pattern/pattern10.png);}
.pattern11{background:url(../image/pattern/pattern11.png);}
.pattern12{background:url(../image/pattern/pattern12.png);}
.pattern13{background:url(../image/pattern/pattern13.png);}
.pattern14{background:url(../image/pattern/pattern14.png);}
.pattern15{background:url(../image/pattern/pattern15.png);}
.pattern16{background:url(../image/pattern/pattern16.png);}

/**
 * OFF CANVAS MENU 
 */
@media (min-width: 940px)  {
	body.off-canvas-active > * {
		transform:translateX(0px) !important;
		-webkit-transform:translateX(0px) !important;

	}
	body.off-canvas-active #page-container{
		position: inherit!important;
	}
}

.off-canvas body > *, #off-canvas-nav .pavo-mainnav  {
	transition:all 500ms ease 0s;
}
body.off-canvas-active > * {
	transform:translateX(250px);
	-webkit-transform:translateX(250px);
}

body.off-canvas-active #page-container{
	position: fixed;
}
body.off-canvas-inactive #page-container {
	position: inherit;
}
body.off-canvas-inactive > * {
	transform:translateX(0px);
	-webkit-transform:translateX(0px);	
}

body.off-canvas-active >#off-canvas-nav .pavo-mainnav {
	left: -256px;
}

.off-canvas body{ overflow-x: hidden; }
#page-container{ position: relative;}


#off-canvas-nav {
    backface-visibility: hidden;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 0px;

}
#off-canvas-nav .pavo-mainnav {
	width:210px;
	padding: 12px 18px;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: -500px;
	background: #9A4761;
	height: 100 
}

#off-canvas-nav .megamenu .mega-cols{ width: 100%; min-width:inherit; }

#off-canvas-nav .dropdown-menu{
	position: relative;
	 display: block;
	 left: 0;
	 right: 0;
	 top: 0;
	 float: none;
	 background: none;
	 box-shadow: none;
	  margin: 0;
	  padding: 0 10px;

}

#off-canvas-nav .dropdown-mega,
#off-canvas-nav  li.mega-group .dropdown-menu {
	padding: 0 15px;
}
#off-canvas-nav .mega-col {
	display: block;
	width: 100%;
	position: relative;
}
#off-canvas-nav li .menu-title{ padding: 6px 0;}
#off-canvas-nav .dropdown-menu img{ width: 100%; }

#off-canvas-nav #off-canvas-button span{ font-weight: bold; margin-right: 12px ;}
#off-canvas-nav .dropdown .dropdown-menu li,#off-canvas-nav .megamenu .dropdown-mega li {
	 background:  none;
}
#off-canvas-nav .nav > li:hover, 
#off-canvas-nav .nav > li > a:hover, #off-canvas-nav .nav > li > a:focus {
	 background:  none;
}

#off-canvas-nav .nav li {
	 border:none;
	 padding:  0;
}
#off-canvas-nav #off-canvas-button {
    font-weight: bold;
    color: #fff;
}

#off-canvas-nav #off-canvas-button span {
	font-weight: bold;
	margin-right: 12px ;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 200%;
    font-weight: normal;
}
#off-canvas-nav .megamenu li a{
	color: #fff;
}
#off-canvas-nav .pavo-mainnav p{
	color: #fff;
}
#off-canvas-nav .pavo-mainnav ul li{
	line-height: 25px;
}


.tabl_in_post
	{
		border:none;
		width:95%;
	}
.tabl_in_post td
	{
	padding: 2px 5px 2px 5px;
	}
	