{% extends 'ru/base.html' %}
{% load staticfiles %}
{% block ru %}
<div class="span9">
<div id="content">
<div class="content-top">
<script>
		var prefix = 'b8cc027';
	var langmarkdata = $('#langmark_b8cc027').html();
	$('#language').html(langmarkdata);;
	$('#langmark_b8cc027').remove();
   </script>
<script type="text/javascript">
		<!--
			$('#pavcontentslider4').carousel({interval:8000});
		-->
		</script>
<div class="box pav-categoryproducts no-padding no-box">
    <div class="box-content">
            <h1 style="color: black; text-align: center; font-size: 40px; text-shadow: 1px 1px 2px black, 0 0 1em black">{{ country_info.title }}</h1>
            <p>{{ country_info.body |safe }}</p>
        </div>
</div>
<script type="text/javascript">
$(function () {
	$('.pavproducts837921152').carousel({interval:99999999999999,auto:false,pause:'hover'});
	$('#producttabs837921152 a:first').tab('show');
});
</script>
</div>
</div>
</div>
{% endblock %}