{% extends 'ru/base.html' %}
{% load staticfiles %}
{% block ru %}
<div class="span9">
<div id="content">
<div class="content-top">
<script>
		var prefix = 'b8cc027';
	var langmarkdata = $('#langmark_b8cc027').html();
	$('#language').html(langmarkdata);;
	$('#langmark_b8cc027').remove();
   </script>
<div id="pavcontentslider4" class="carousel slide pavcontentslider">
		<div class="carousel-inner">
		<div class="item active">
		<img src="{% static 'image/kyrgyzstan-852x250.jpg' %}" alt="Array">
		<div class="pav-caption slideUp " style="top:0px;left:0px">
		</div>
		</div>
		<div class="item">
		<img src="{% static 'image/tajikistan-852x250.jpg' %}" alt="Array">
		<div class="pav-caption slideUp " style="top:0px;left:0px">
		</div>
		</div>
		<div class="item">
		<img src="{% static 'image/kazakhstan-852x250.jpg' %}" alt="Array">
		<div class="pav-caption slideUp " style="top:0px;left:0px">
		</div>
		</div>
		<div class="item">
		<img src="{% static 'image/turkmenistan.jpg' %}" alt="Array" style="width: 852px; height:250px">
		<div class="pav-caption slideUp " style="top:0px;left:0px">
		</div>
		</div>
		<div class="item">
		<img src="{% static 'image/chinese_xinjiang-852x250.jpg' %}" alt="Array">
		<div class="pav-caption slideUp " style="top:0px;left:0px">
		</div>
		</div>
        <div class="item">
		<img src="{% static 'image/uzbekistan-852x250.jpg' %}" alt="Array">
		<div class="pav-caption slideUp " style="top:0px;left:0px">
		</div>
		</div>
		</div>
		<a class="carousel-control left " href="http://www.centralasia-adventures.com/#pavcontentslider4" data-slide="prev">‹</a>
		<a class="carousel-control right" href="http://www.centralasia-adventures.com/#pavcontentslider4" data-slide="next">›</a>
		<ol class="carousel-indicators">
			<li data-target="#pavcontentslider4" data-slide-to="0" class="active"></li>
			<li data-target="#pavcontentslider4" data-slide-to="1" class=""></li>
			<li data-target="#pavcontentslider4" data-slide-to="2" class=""></li>
			<li data-target="#pavcontentslider4" data-slide-to="3" class=""></li>
			<li data-target="#pavcontentslider4" data-slide-to="4" class=""></li>
			<li data-target="#pavcontentslider4" data-slide-to="5" class=""></li>
		</ol>

	    </div>
<script type="text/javascript">
		<!--
			$('#pavcontentslider4').carousel({interval:8000});
		-->
		</script>
<div class="box pav-categoryproducts no-padding no-box">
    <div class="box-content">
            <h2 style="text-align: center; color: black">Почувствуй Азию</h2> <hr>
            {% for main_info in main_info %}
                <p style="">{{ main_info.body |safe }}</p>
            {% endfor %}
            <div class="tab-content">
                <div class="tab-pane cat-products-block  clearfix active" id="tab-cattabs83792115224">
                    <div class="carousel-controls">

                    </div>
                    <div class="box-products  pavproducts837921152 slide" id="boxcats83792115224">
                        <div class="carousel-inner ">
                            <div class="item active">
                                <div class="row-fluid box-product">
                                    {% for information in information %}
                                    <div class="span4 product-block" style="margin: 5px">
                                        <div class="product-inner" style="height: 200px; ">
                                            <div class="image">
                                                <a href="{% url 'information_ru' information.id %}">
                                                <img src="{{ information.image.url }}" alt="Классический Узбекистан" style="height: 150px; width: 200px"></a></div>
                                                <div class="product-meta">
                                                    <h4 class="name">
                                                    <a href="{% url 'information_ru' information.id %}">{{ information.title }}</a>
                                                    </h4>
                                                    <!--<div class="cart"><input type="button" value="Купить" onclick="addToCart('1');" class="button" /></div>-->
                                                    <div class="wishlist">
                                                        <a onclick="addToWishList('1');" title="В закладки">В закладки</a>
                                                    </div>
                                                    <div class="compare">
                                                        <a onclick="addToCompare('1');" title="В сравнение">В сравнение</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
</div>
<script type="text/javascript">
$(function () {
	$('.pavproducts837921152').carousel({interval:99999999999999,auto:false,pause:'hover'});
	$('#producttabs837921152 a:first').tab('show');
});
</script>
</div>
</div>
</div>
{% endblock %}