{% load staticfiles %}
{#<header id="myCarousel" class="carousel slide">#}
{#        <!-- Indicators -->#}
{#        <ol class="carousel-indicators">#}
{#            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>#}
{#            <li data-target="#myCarousel" data-slide-to="1"></li>#}
{#            <li data-target="#myCarousel" data-slide-to="2"></li>#}
{#        </ol>#}
{##}
{#        <!-- Wrapper for slides -->#}
{#        <div class="carousel-inner">#}
{#            <div class="item active">#}
{#                <div class="fill">#}
{#                    <img src="{% static 'image/travel1.jpg' %}" style="width: 100%; height: 80%">#}
{#                </div>#}
{#                <div class="carousel-caption">#}
{#                    <h2 style="color: white">Caption 1</h2>#}
{#                </div>#}
{#            </div>#}
{#            <div class="item">#}
{#                <div class="fill" style="">#}
{#                    <img src="{% static 'image/travel2.jpg' %}" style="width: 100%; height: 80%;">#}
{#                </div>#}
{#                <div class="carousel-caption">#}
{#                    <h2 style="color: white">Caption 2</h2>#}
{#                </div>#}
{#            </div>#}
{#            <div class="item">#}
{#                <div class="fill">#}
{#                    <img src="{% static 'image/travel3.jpg' %}" style="width: 100%; height: 80%">#}
{#                </div>#}
{#                <div class="carousel-caption">#}
{#                    <h2 style="color: white;">Caption 3</h2>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{##}
{#        <!-- Controls -->#}
{#        <a class="left carousel-control" href="#myCarousel" data-slide="prev">#}
{#            <span class="icon-prev"></span>#}
{#        </a>#}
{#        <a class="right carousel-control" href="#myCarousel" data-slide="next">#}
{#            <span class="icon-next"></span>#}
{#        </a>#}
{#    </header>#}
{#    <div class="col-md-12" style="background-color: white; margin-bottom: 0">#}
{#        <div class="container">#}
{#        <h2 class="center decorated-heading" style="font-size: 40px; line-height: 70px; font-family: Limelight, cursive;">Some name</h2>#}
{#        <div class="row">#}
{#          <div class="grid_10 preffix_1">#}
{#            <p class="center" style="color: #585858">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.#}
{#            Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus.#}
{#            </p>#}
{#          </div>#}
{#        </div>#}
{#    <div class="col-md-1"></div>#}
{#        <div class="row col-md-4" style="margin-top: 4%">#}
{#          <div class="col-sm-10">#}
{#            <div class="thumbnail">#}
{#              <img src="{% static 'image/travel.png' %}" alt="..." style="width: 300px; height: 250px">#}
{#              <div class="caption">#}
{#                <h3>Thumbnail label</h3>#}
{#                <p>Some info ...</p>#}
{#                <p><a href="#" class="btn btn-default" role="button">Button</a></p>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{#        </div>#}
{#        <div class="row col-md-4" style="margin-top: 4%">#}
{#          <div class="col-sm-10">#}
{#            <div class="thumbnail">#}
{#              <img src="{% static 'image/european-tours-6.jpg' %}" alt="..." style="width: 300px; height: 250px">#}
{#              <div class="caption">#}
{#                <h3>Thumbnail label</h3>#}
{#                <p>Some info ...</p>#}
{#                <p><a href="#" class="btn btn-default" role="button">Button</a></p>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{#        </div>#}
{#        <div class="row col-md-4" style="margin-top: 4%">#}
{#          <div class="col-sm-10">#}
{#            <div class="thumbnail">#}
{#              <img src="{% static 'image/travel4.jpg' %}" alt="..." style="width: 300px; height: 250px">#}
{#              <div class="caption">#}
{#                <h3>Thumbnail label</h3>#}
{#                <p>Some info ...</p>#}
{#                <p><a href="#" class="btn btn-default" role="button">Button</a></p>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{#        </div>#}
{#      </div>#}
{#    </div>#}
<body style="background-image: url('{% static "image/kon1.jpg" %}'); background-size: 1370px 670px">
<div style="color: white; width: 800px; margin-top: 250px; margin-left: 250px; background-color: rgba(14, 14, 14, 0.54); text-align: center">
    <h1>Сайт Tien-Shan.kg находится на разработке.</h1>
    <h1>Скором времени сайт будет доступным.</h1>
</div>
</body>